.btn{
  display: inline-block;
  border: 0;
  border-radius: 2.5rem;
  background: var(--color-accent);
  box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.2);
  color: var(--color-white);
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: var(--animate-trans);
  cursor: pointer;

}

@media (hover: hover) {

  .btn:hover{
    transform: rotate(-4deg);
    box-shadow: 0 0 100px 4px rgba(255, 255, 255, 0.2);
    border-color: var(--color-accent);
  }
}

@media (min-width: 40rem) {
  .btn{
    padding: 0.75rem 1.5rem;
  }
}