.btn{
  border: 2px solid var(--color-white);
  /* border-radius: 40px; */
  /* background: var(--color-accent); */
  background: none;
  color: inherit;
  /* box-shadow: 2px 2px 12px 3px rgba(255, 255, 255, 0.15); */
  padding: 12px 20px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: var(--animate-trans);
  cursor: pointer;

}
.btn:hover{
  border-color: var(--color-accent);
  color: var(--color-accent);
  transform: rotate(-3deg);
}