header{
    padding-block: 1rem;
    animation: slideIn .85s;
    position: relative;
    transition: var(--animate-trans);
}

header.sticky {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

    background: var(--color-blur);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    width: 100%;
    z-index: 999;
  }

.primary-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.sticky .primary-nav{
    animation: slideIn .5s;
}

.primary-nav-list {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.nav-link{
    font-size: .8125rem;
    font-weight: 500;
    color: var(--color-white);
    text-transform: capitalize;
}

.nav-link.active{
    padding: 0.375rem .5rem;
    color: var(--color-accent);
    background: var(--color-accent-fade);
  }

.logo{
    width: 4.75rem;
}


/* extra small */
  @media(min-width: 26.5625rem) {
      .logo{
          width: 7.5rem;
      }
      .nav-link{
          font-size: var(--font-body);
      }
  }

/* small */
@media(min-width: 40rem) {
    
}

/* large */
@media(min-width: 60rem) {
    header{
        padding-block: 1.5rem;
    }
}
