.projects {
  display: grid;
  scroll-margin-top: 2rem;
}

.projects-header {
  margin-block: 4rem 3rem;
}

.all-projects-header {
  margin-block: 2rem 3rem;
}

.all-projects {
  scroll-margin-top: 40px;
}

.projects-container {
  display: grid;
  row-gap: 1.5rem;
}
.project-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
  transition: var(--animate-trans);
}
.project-name {
  font-size: 12px;
  text-align: center;
  margin-top: 0.25rem;
}

@media (hover: hover) {
  .project-link:hover .project-img {
    transform: translateY(-6px);
  }
  
  .project-link:hover .project-name {
    color: var(--color-white);
  }
}

.projects .btn {
  margin-top: 1.5rem;
  margin-inline: auto;
}

/* custom */
@media screen and (min-width: 450px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small */
@media screen and (min-width: 40rem) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects {
    scroll-margin-top: 3rem;
  }
}

@media screen and (min-width: 48rem) {
    .projects {
        scroll-margin-top: 4rem;
      }
}
