/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove list styles on ul element */

ul[role="list"]{
	list-style: none;
}



/* body defaults */
body {
	min-height: 100vh;
	line-height: 1.4;
}

/* line heights on headings and interactive elements */
h1,
h2,
h3,
button{
	line-height: 1.1;
}

/* text wrapping on headings */
h1,
h2,
h3 {
	text-wrap: balance;
}

/* Inherit fonts buttons */
button{
	font-family: inherit;
	font-size: inherit;
	background: none;
}

/* extra scroll margin anything that has been anchored to */
:target {
	scroll-margin-block: 5ex;
}

a{
	text-decoration: none;
	color: inherit;
}