@font-face {
  font-family: Outfit;
  font-weight: 300;
  src: url("./src/fonts/Outfit-Light.ttf");
}

@font-face {
  font-family: Outfit;
  font-weight: 400;
  src: url("./src/fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: Outfit;
  font-weight: 500;
  src: url("./src/fonts/Outfit-Medium.ttf");
}

@font-face {
  font-family: Outfit;
  font-weight: 700;
  src: url("./src/fonts/Outfit-Bold.ttf");
}

@import "tailwindcss";

@theme{
  /* font */
  --font-outfit: Outfit;

  /* colors */
  --color-accent: #FCA311;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-copy-gray: #E5E5E5;
  --color-navy-blue: #142130;
}

