/* FONTS */

@font-face {
  font-family: Outfit;
  font-weight: 300;
  src: url("./src/fonts/Outfit-Light.ttf");
}

@font-face {
  font-family: Outfit;
  font-weight: 400;
  src: url("./src/fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: Outfit;
  font-weight: 500;
  src: url("./src/fonts/Outfit-Medium.ttf");
}

@font-face {
  font-family: Outfit;
  font-weight: 700;
  src: url("./src/fonts/Outfit-Bold.ttf");
}

:root {
  /* font */
  --font-outfit: Outfit;
  --font-body: 1rem;
  --font-xm: 0.75rem;
  --font-sm: 1rem;
  --font-md: 2rem;
  --font-lg: 3rem;
  --font-xl: 4rem;
  --font-xxl: 4.5rem;

  /* colors */
  --color-accent: #fca311;
  --color-accent-fade: hsla(37, 98%, 53%, 0.1);
  --color-black: #000000;
  --color-white: #ffffff;
  --color-copy-gray: #b7b7b7;
  --color-copy-grayish: #e5e5e5;
  --color-navy-blue: #142130;

  /* breakpoints */
  --breakpoint-xm: 425px;

  /* transition */
  --animate-trans: all 300ms 75ms ease-in-out;
}

/* BASE STYLING MINE */

body,
html {
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--color-navy-blue);
  font-size: var(--font-body);
  line-height: 1.6;
  color: var(--color-white);
}

*,
*::before,
*::after,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--font-lg);
  line-height: 1;
  color: var(--color-white);
}

h1 span {
  color: var(--color-accent);
}
p {
  color: var(--color-copy-gray);
}

img {
  display: block;
  max-width: 90%;
  margin: auto;
}

/* COMPONENT CLASSES */

.max-container {
  max-width: 1440px;
  margin-inline: auto;
}

.padding-b {
  padding-bottom: 0;
}

.hero-img,
.about-img {
  width: min(25rem, 200vw);
}

@media (min-width: 40rem) {
  .hero-img {
    width: 22.5rem;
  }
  .about-img {
    width: 22.5rem;
  }
}

/* UTILITY CLASSES */

.section-header {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--color-copy-gray);
  position: relative;
}

.section-header::after{
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  background: var(--color-copy-gray);
  width: 2.5rem;
  height: 0.125rem;
  border-radius: 100vw;
  transform: translateX(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.p-sm {
  padding-inline: 20px;
}
.p-md {
  padding-inline: 50px;
}

.p-lg {
  padding-inline: 100px;
}

.h-center {
  height: calc(100vh - 138px);
}

section,
footer,
header {
  padding-inline: 20px;
  /* border: 2px solid; */
}

/* small */
@media (min-width: 40rem) {
  section {
    margin-bottom: 3rem;
  }
}

/* medium */
@media (min-width: 48rem) {
  section,
  footer,
  header {
    padding-inline: 3.125rem;
  }
}

/* large */
@media (min-width: 64rem) {
  section,
  footer {
    padding-inline: 6.25rem;
  }
}
