/* FONTS */

@font-face {
  font-family: Outfit;
  font-weight: 300;
  src: url("/src/assets/fonts/Outfit-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Outfit;
  font-weight: 400;
  src: url("/src/assets/fonts/Outfit-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Outfit;
  font-weight: 500;
  src: url("/src/assets/fonts/Outfit-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Outfit;
  font-weight: 700;
  src: url("/src/assets/fonts/Outfit-Bold.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* font */
  --font-outfit: Outfit;

  --font-body: 1rem;
  --font-xm: 0.75rem;
  --font-sm: 1rem;
  --font-md: 2rem;
  --font-lg: 3rem;
  --font-xl: 4rem;
  --font-xxl: 4.5rem;

  /* colors */
  --color-accent: hsl(37, 98%, 53%);
  --color-accent-fade: hsla(37, 98%, 53%, 0.1);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-copy-gray: hsl(0, 0%, 72%);
  --color-copy-grayish: hsl(0, 0%, 90%);
  --color-navy-blue: hsl(212, 41%, 13%);
  
  --color-theme-toggle: hsl(214, 9%, 85%);
  --color-blur: hsla(212, 44%, 8%, 0.5);

  /* breakpoints */
  --breakpoint-xm: 425px;

  /* transition */
  --animate-trans: all 300ms 75ms ease-in-out;
}

[data-theme="dark"] {
  --color-accent: hsl(37, 98%, 53%);
  --color-accent-fade: hsla(37, 98%, 53%, 0.2);
  --color-black: hsl(0, 0%, 100%);
  --color-white: hsl(0, 0%, 10%);
  --color-copy-gray: hsl(0, 0%, 42%);
  --color-copy-grayish: hsl(0, 0%, 30%);
  --color-navy-blue: hsl(214, 9%, 85%);
  --color-theme-toggle: hsl(212, 41%, 13%);
  --color-blur: hsla(212, 44%, 85%, 0.5);
}

/* BASE STYLING */

body,
html {
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--color-navy-blue);
  font-size: var(--font-body);
  line-height: 1.6;
  color: var(--color-white);
}

h1 {
  font-size: var(--font-lg);
  color: var(--color-white);
}

h1 span {
  color: var(--color-accent);
}

p {
  color: var(--color-copy-gray);
}

img {
  display: block;
  max-width: 90%;
  margin: auto;
}

/* COMPONENT CLASSES */

.max-container {
  max-width: 1440px;
  margin-inline: auto;
}

.hero-img,
.about-img {
  width: min(20rem, 200vw);
}

@media (min-width: 64rem) {
  .about-img,
  .about-img {
    width: min(25rem, 200vw);
  }
}

/* UTILITIES */

.section-header {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--color-copy-gray);
  position: relative;
}

.section-header::after{
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  background: var(--color-copy-gray);
  width: 2.5rem;
  height: 0.125rem;
  border-radius: 100vw;
  transform: translateX(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center{
  text-align: center;
}

section,
footer,
header {
  padding-inline: 12px;
}

/* small */
@media (min-width: 40rem) {
  section {
    margin-bottom: 3rem;
  }
  .align-center{
    text-align: start;
  }
}

/* medium */
@media (min-width: 48rem) {
  section,
  footer,
  header {
    padding-inline: 3.125rem;
  }
  .section-header{
    margin-bottom: 4rem;
  }
}

/* large */
@media (min-width: 64rem) {
  section,
  footer,
  header {
    padding-inline: 8.25rem;
  }
}

@keyframes zoom-in {
  0%{
      opacity: 0;
      transform: translateY(30px) scale(0.7);
  }
  100%{
      opacity: 1;
      transform: translateY(0) scale(1);
  }
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

